<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8" />
    <title>Добавить фильм</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
</head>
<body>
    <h1 class="big-header">Добавить новый фильм</h1>

    <form id="movie-form" action="/movies/add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="my-fieldset aligned">
            {{ form.non_field_errors }}

            {% for field in form %}
            <div class="form-row">
                {{ field.label_tag }} {{ field }}
                {% if field.name == 'countries' %}
                    <button type="button" class="add-btn" onclick="openPopup('country')">
                        <img src="{% static 'movies/plus-icon.png' %}" alt="Добавить страну">
                    </button>
                {% elif field.name == 'directors' %}
                    <button type="button" class="add-btn" onclick="openPopup('director')">
                        <img src="{% static 'movies/plus-icon.png' %}" alt="Добавить директора">
                    </button>
                {% elif field.name == 'genres' %}
                    <button type="button" class="add-btn" onclick="openPopup('genre')">
                        <img src="{% static 'movies/plus-icon.png' %}" alt="Добавить жанр">
                    </button>
                {% endif %}
            </div>
            <div class="form-row-errors">{{ field.errors }}</div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Сохранить" class="universal-button"/>
        </div>
    </form>

    <script>
        function openPopup(value) {
            // value = country | director | genre

            const popup = window.open(
                "/movies/add_" + value + "/",
                "Add Item",
                "width=400,height=200"
            );

            let plural = ""
            if (value === "country") {
                plural = "countries";
            } else if (value === "director") {
                plural = "directors";
            } else if (value === "genre") {
                plural = "genres";
            }

            popup.window.addEventListener('unload', () => {
                const url = "/movies/get_" + plural + "/";
                const elementId = "id_" + plural;

                fetch(url)
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then((data) => {
                    const selectControl = document.getElementById(elementId);
                    if (selectControl) {
                        selectControl.innerHTML = "";
                        data.objlist.forEach(item => {
                            const option = new Option(item.name, item.id);
                            selectControl.add(option);
                        });
                    }
                    else {
                        console.log("Not found:", elementId)
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
            });
        }
    </script>
</body>
</html>
