<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8" />
    <title>Добавить фильм</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
</head>
<body>
    <h1 class="big-header">Добавить новый фильм</h1>

    <form action="/movies/add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="my-fieldset aligned">
            {% for field in form %}
            <div class="form-row">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.name == 'directors' %}
                    <button type="button" class="add-director-btn" onclick="openDirectorPopup()">
                        <img src="{% static 'movies/plus-icon.png' %}" alt="Добавить директора">
                    </button>
                {% endif %}
            </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Сохранить" class="universal-button"/>
            <!-- input type="submit" value="Отмена" class="universal-button"/ -->
        </div>
    </form>

    <script>
        function openDirectorPopup() {
            const popup = window.open(
                "/movies/add_director",
                "Add Director",
                "width=400,height=200"
            );
            
            window.addEventListener('message', function(event) {
                if (event.data.type === 'director_added') {
                    const selectElement = document.querySelector('[name="directors"]');
                    const option = new Option(event.data.name, event.data.id);
                    selectElement.add(option);
                    option.selected = true;
                }
            });
        }
    </script>
</body>
</html>
