<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8" />
    <title>Добавить режиссера</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
</head>
<body>
    <h1 class="medium-header">Добавить режиссера</h1>

    <div class="popup-form">
        <form id="director-form"  action="/movies/add_director/" method="post">
            {% csrf_token %}
            <div class="form-row">
                Режиссер:
                {{ form.director }}
                {{ form.director.errors }}
            </div>
            <div class="form-buttons">
                <input type="submit" value="Сохранить" class="universal-button">
                <button type="button" onclick="window.close();" class="universal-button">Отмена</button>
            </div>
        </form>
    </div>
</body>
</html>