{% extends "base_generic.html" %}
{% load static %}
{% load pagination_extras %}

{% block title %}
<title>{% if is_series %}30 лучших сериалов{% else %}100 лучших фильмов{% endif %}</title>
{% endblock %}


{% block content %}
<div class="col">

<table class="main-table">
<tr>
    <td class="main-table-left">
        <div class="sticky-sidebar-left">

            <form id="filter-sort-form" 
                action={% if is_series %}"/movies/series-top30/"{% else %}"/movies/top100/"{% endif %} 
                method="get" class="form-direction">
                <label>Страны</label><br>
                <select name="country" class="sort-selector" required>
                    {% for item in country_list %}
                    <option value="{{ item.value }}" {% if item.is_selected %}selected{% endif %}>
                        {{ item.name }}
                    </option>
                    {% endfor %}
                </select>
                <br><br>

                <label>Жанры</label><br>
                <select name="genre" class="sort-selector" required>
                    {% for item in genre_list %}
                    <option value="{{ item.value }}" {% if item.is_selected %}selected{% endif %}>
                        {{ item.name }}
                    </option>
                    {% endfor %}
                </select>
                <br><br>

                <label>Режиссеры</label><br>
                <select name="director" class="sort-selector" required>
                    {% for item in director_list %}
                    <option value="{{ item.value }}" {% if item.is_selected %}selected{% endif %}>
                        {{ item.name }}
                    </option>
                    {% endfor %}
                </select>
                <br><br>

                <label>Годы</label><br>
                <select name="years" class="sort-selector" required>
                    {% for item in years_list %}
                    <option value="{{ item.value }}" {% if item.is_selected %}selected{% endif %}>
                        {{ item.name }}
                    </option>
                    {% endfor %}
                </select>
                <br><br>

                <input type="submit" value="Фильтровать" class="compact-button" style="width: 10em;"/>
            </form>
        </div>
        <br><br>
    </td>

    <td class="main-table-center">
        <h1 class="big-header">{% if is_series %}30 лучших сериалов{% else %}100 лучших фильмов{% endif %}</h1>

        <!-- Используем форму из контейнера 'main-table-left', см. атрибут form ниже -->
        <label>Искать по названию&nbsp;</label>
        <input name="text" type="input" value="{{ text_value }}" placeholder="Введите текст" form="filter-sort-form" class="compact-button"/>
        &nbsp;
        <input type="submit" value="Искать" form="filter-sort-form" class="compact-button" style="width: 6em;"/>
        <br><br>

        <label>Сортировать по&nbsp;</label>
        <select name="sort" class="sort-selector" required form="filter-sort-form">
            {% for item in sort_list %}
            <option value="{{ item.value }}" {% if item.is_selected %}selected{% endif %}>
                {{ item.name }}
            </option>
            {% endfor %}
        </select>
        &nbsp;
        <input type="submit" value="Сортировать" form="filter-sort-form" class="compact-button"/>
        <br><br><br>

        {% if top_100_movies %}
            {% for mov in top_100_movies %}
                <div class="flex-container">
                    <div class="list-number">
                        {{ forloop.counter }}
                    </div>
                    <div class="mv-poster">
                        {% if mov.poster %}
                        <a href="/movies/{{ mov.id }}/">
                        <img src="{{ mov.poster.url }}" alt="{{ mov.title }}" style="width:72px; height:108px;">
                        </a>
                        {% endif %}
                    </div>
                    <a href="/movies/{{ mov.id }}/" class="mv-link">
                        <div class="mv-title">{{ mov.title }}</div>
                        <div class="mv-title-orig">{% if mov.title_orig %}{{ mov.title_orig }}, {% endif %}{{ mov.range_of_years }}</div> 
                    </a>
                    <div style="width: 75px;">
                        <div class="mv-rating1">{% if mov.user_rating > 0 %}({{ mov.user_rating }}){% else %}{% endif %}</div>
                        <div class="mv-rating2">{{ mov.kp_rating }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if is_paginated %}
        <div class="paginator-block">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=page_obj.previous_page_number %}">[ &lt;&lt; ]</a>
                {% endif %}
                <span class="page-current">
                    {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">[ &gt;&gt; ]</a>
                {% endif %}
            </span>
        </div>
        <p>
        {% endif %}
    </td>
</tr>
</table>
</div>
{% endblock %}
