services:
  postgres:
    image: postgres:15-alpine
    container_name: mymovies-postgres
    restart: always
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
        # Reduce memory usage
      - POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
    command: >
      postgres
      -c shared_buffers=128MB
      -c effective_cache_size=256MB
      -c work_mem=4MB
      -c maintenance_work_mem=32MB
      -c max_connections=20
    ports:
      - 5433:5432  # external port (on the host) changed!
    volumes:
      - db-data:/var/lib/postgresql/data

  web:
    build: .
    container_name: mymovies-web
    command: ["./wait-for-it.sh", "postgres:5432", "--", "python3", "./src/manage.py", "runserver", "0.0.0.0:8001"]
    restart: always
    env_file:
      - .env
    ports:
      - 8001:8001
    depends_on:
      - postgres

volumes:
  db-data:
