<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8" />
    <title>MyMovied DB | Навигация по сайту</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
<div class="wrapper">
    <h1>MyMovies DB</h1>
    <p class="subtitle">Ультимативный гайд по миру кино. Навигация</p>
    <ul>
        <li class="list-item"><a href="/movies/top100/">/movies/top100/</a> - 100 лучших фильмов</li>
        <li class="list-item"><a href="/movies/series-top50/">/movies/series-top50/</a> - 50 лучших сериалов</li>
        <li class="list-item"><a href="/movies/1/">/movies/1/</a> - Карточка фильма/сериала</li>
        <li class="list-item"><a href="/movies/add/">/movies/add/</a> - Добавить новый фильм/сериал</li>
        <li class="list-item"><a href="/admin/">/admin/</a> - Админка Django</li>
        <br>
        <li class="list-item"><a href="/api/">/api/</a> - Корень API</li>
        <li class="list-item"><a href="/api/movies/">/api/movies/</a> - Список фильмов (json)</li>
        <li class="list-item"><a href="/api/countries/">/api/countries/</a> - Список стран (json)</li>
        <li class="list-item"><a href="/api/directors/">/api/directors/</a> - Список режиссеров (json)</li>
        <li class="list-item"><a href="/api/genres/">/api/genres/</a> - Список жанров (json)</li>
    </ul>
</div>
</body>
</html>
