<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>MyMovies DB</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

  {% load static %}
  <link rel="stylesheet" href="{% static 'movies/css/style.css' %}">
  <link rel="icon" href="{% static 'movies/images/favicon.png' %}"/>
</head>
<body>

<!-- Page without top navigation bar -->

<div class="container container-shadow index-page-style">
<div class="row">

{% block content %}
<div class="col text-size">

    <h1 class="vibe-header">MyMovies DB</h1>
    <p class="subtitle">Краткий ультимативный гид по миру кино</p>
    
    <p>Навигация:</p>
    <ul>
        <li class="list-item"><a href="/movies/top100/">100 лучших фильмов</a></li>
        <li class="list-item"><a href="/movies/series-top30/">30 лучших сериалов</a></li>
        {% if user.is_authenticated %}
        <li class="list-item"><a href="/movies/add/">Добавить новый фильм</a></li>
        {% endif %}
        <li class="list-item"><a href="/admin/">Админка Django</a></li>
        <li class="list-item"><a href="/api/">Корень API</a></li>
     </ul>

    <br>
    <p>Статистика:</p>  
    <ul>
        <li>Фильмов: {{ num_movies }}</li>
        <li>Сериалов: {{ num_series }}</li>
        <li>Пользователей: {{ num_users }}</li>
    </ul>
</div>
{% endblock %}

</div>
</div>
</body>
</html>
